* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 24px;
    font-family: Castellar, serif ;
    font-weight: 300;
    color: #adffff;
}

.panels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.panel {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
    transition:
            font-size 0.7s cubic-bezier(0.6, -0.2, 0.7, -0.1),
            flex 0.7s cubic-bezier(0.6, -0.2, 0.7, -0.1),
            background 0.2s;
    background-size: cover;
    background-position: center;
    flex: 1;
    font-size: 20px;
}

.panel_1 {
    background: url("./assets/w1.jpg");
}

.panel_2 {
    background: url("./assets/w2.jpg");
}

.panel_3 {
    background: url("./assets/w3.jpg");
}

.panel_4 {
    background: url("./assets/w4.jpg");
}

.panel_5 {
    background: url("./assets/w5.jpg");
}

.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.panel > *:first-child {
    transform: translateY(-100%);
}
.panel.open-active > *:first-child {
    transform: translateY(0);
}

.panel > *:last-child {
    transform: translateY(100%);
}
.panel.open-active > *:last-child {
    transform: translateY(0);
}

.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    flex: 5;
    font-size: 40px;
}

.cta {
    color: white;
    text-decoration: none;
}